<footer class="site-footer">
    <div class="footer-widget-area cover-bg">
        <div class="container">
            <div class="row">
                <div id="widget_sashien_about_company_widget-2"
                    class="widget col-lg-3 col-md-6 widget_sashien_about_company_widget">
                    <div class="about-info-img">
                        <img src="../../assets/pic/Logo.png" alt="Logo">
                    </div>

                    <div class="widget-about-description">
                        Welcome to Sashien Karate, where tradition meets power. Whether you are a beginner seeking balance, a fighter chasing mastery, or a child learning focus — our dojo is your path to growth. Step onto the mat and begin your journey into the art of Karate.
                    </div>
                </div>
                <div id="sashien_nav_menu-2" class="widget col-lg-3 col-md-6 widget_sashien_nav_menu">
                    <h4 class="widget-title">Quick Links</h4>
                    <div class="menu-quick-links-container">
                        <ul id="menu-quick-links" class="menu">
                            <li class="menu-item"><a
                                    routerLink="/home">Home</a></li>
                            <li class="menu-item"><a
                                    routerLink="/about-us">More About Us</a></li>
                            <li class="menu-item"><a
                                    routerLink="/events">Events</a></li>
                        </ul>
                    </div>
                </div>
                <div id="sashien_contact_info-2" class="widget col-lg-3 col-md-6 sashien_contact_info_widget">
                    <h4 class="widget-title">Contact Info</h4>
                    <div class="contact-info-wrapper">
                        <div class="short-desc" style="color: #16FF00;">
                            Visit our office or connect us via Phone and Email. </div>

                        <ul class="list-style widget-contact-info-list">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                Obere Haltenstrasse, Lugaggia. Switzerland - 6953
                            </li>
                            <li>
                                <i class="fas fa-mobile-alt"></i>
                                <a href="tel:+410123456789">+91 96000 77318</a>
                            </li>
                            <li>
                                <i class="fas fa-paper-plane"></i>
                                <a href="mailto:sashien@e-plugins.com">sashien.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div id="sashien_gallery_widget-2" class="widget col-lg-3 col-md-6 ep_gallery_widget">
                    <h4 class="widget-title">
                        Follow Us Today: </h4>
                    <ul class="widget-social-icons footer-social-icon list-inline">
                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#" target="_blank"><i class="fab fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>