.banner-area {
    height: 560px;
    background-color: #000000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-image: url('../../assets/pic/bg2.jpg');
}

.container {
    width: 100%;
    padding: 0 10px;
    padding-right: var(--bs-gutter-x, .75rem);
    padding-left: var(--bs-gutter-x, .75rem);
    margin-right: auto;
    margin-left: auto;
}

.h-100 {
    height: 100% !important;
}

.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.banner-content {
    margin-top: 160px;
}

.text-start {
    text-align: left !important;
}

.banner-title {
    font-size: 60px;
    color: #ffffff;
    line-height: 70px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.event-container{
    margin-top: 40px;
    padding: 20px 10px;
}

.sashien-title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 1px;
    color: #FFED00;
    margin-bottom: 35px;
    text-align: center;
}

.event-title h3{
    margin-left: 30px;
}

.event-content .row{
    text-align: center;
}

.event-name{
    text-transform: uppercase;
    font-weight: 500;
    color: #ffffff;
    margin: 30px 0;
    margin-bottom: 50px;
}

.event-banner {
  width: 100%;       
  text-align: center;
  margin-bottom: 30px;
}

.responsive-img {
  max-width: 80%;   
  height: auto;      
  border-radius: 12px;  
  box-shadow: 0 4px 12px rgba(0,0,0,0.2); 
}
