<div class="banner-area page-banner">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-12 my-auto">
                <div class="banner-content text-start">
                    <h2 class="banner-title">
                        Events </h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="event-container">
    <div class="sashien-title">
        <h2>Event Details</h2>
    </div>
    <div class="event-details-section">
        <div class="event-content">
            <div class="event-title">
                <h3>Completed Events :</h3>
            </div>
            <div class="row">
                <div class="event-name">
                    <h2>27th National Level Mahatma Gandhi Karate Championship</h2>
                </div>
                <div class="event-banner">
                    <img src="assets/pic/MG-Banner.jpg" alt="Mahatma Gandhi event banner" class="responsive-img">
                </div>
            </div>
            <div class="row">
                <div class="event-name">
                    <h2>35th Netaji Interschool Karate Championship</h2>
                </div>
                <div class="event-banner">
                    <img src="assets/pic/netaj_interschool.jpeg" alt="Mahatma Gandhi event banner" class="responsive-img">
                </div>
            </div>
            <div class="event-title">
                <h3>Upcoming Events :</h3>
            </div>
            <div class="row">
                <div class="event-name">
                    <h2>TTW SILAMBAM INTERNATIONAL 150 HRS NONSTOP SILAMBAM ROTATION</h2>
                </div>
                <div class="event-banner">
                    <img src="assets/pic/world_record.jpeg" alt="150hrs silambam rotation" class="responsive-img">
                </div>
            </div>
        </div>
    </div>
</div>