<section class="sashien-section sashien-top-section">
  <div class="slider">
    <div class="single-slide-item" >
      <div class="slider-content">
        <h1 class="slider-heading">Unleash the Warrior Within</h1>
        <p class="slider-body">Discipline. Strength. Respect. The way of Karate begins here.</p>
          <p>Welcome to <strong>Sashien Karate Dojo</strong>, where tradition meets power. Step onto the mat and start your journey.</p>
        <a routerLink="/about-us" class="button">Read More</a>
      </div>
    </div>
  </div>
</section>