<app-slider></app-slider>
<section class="sashien-section sashien-top-section">
    <div class="sashien-container sashien-column-gap-extended">
        <div class="sashien-column col-6">
            <div class="sashien-widget-wrap">
                <div class="sashien-element">
                    <div class="sashien-widget-container">
                        <img src="../assets/pic/karate.jpeg" alt="Karate Pose" style="border-radius: 50px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="sashien-column col-6">
            <div class="sashien-widget-wrap">
                <div class="sashien-element">
                    <div class="sashien-widget-container">
                        <div class="section-title-wrapper ">
                            <div class="section-title-content">
                                <span class="section-subtitle fs-4" style="color: #FFED00;">OUR BEST FEATURES</span>
                                <div class="section-title" style="color: #FFED00;">
                                    <h2 class="fs-1">Why choose us?</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sashien-element">
                    <div class="sashien-widget-container">
                        <div class="icon-box-wrapper">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="single-icon-box">
                                        <div class="icon-box-icon primary-color transition">
                                            <i class="fas fa-running"></i>
                                        </div>
                                        <h3 class="icon-box-title">Progression</h3>
                                        <div class="icon-box-desc">
                                            It is a long estabas lished facts will be distracted by the content looking
                                            at
                                            its layout. </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="single-icon-box ">
                                        <div class="icon-box-icon primary-color transition">
                                            <i class="fa-solid fa-dumbbell"></i>
                                        </div>

                                        <h3 class="icon-box-title">Workout</h3>

                                        <div class="icon-box-desc">
                                            It is a long estabas lished facts will be distracted by the content looking
                                            at
                                            its layout. </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="single-icon-box ">
                                        <div class="icon-box-icon primary-color transition">
                                            <i class="fas fa-apple-alt"></i>
                                        </div>

                                        <h3 class="icon-box-title">Nutrition</h3>

                                        <div class="icon-box-desc">
                                            It is a long estabas lished facts will be distracted by the content looking
                                            at
                                            its layout. </div>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                                    <div class="single-icon-box ">
                                        <div class="icon-box-icon primary-color transition">
                                            <i class="fas fa-hand-rock"></i>
                                        </div>

                                        <h3 class="icon-box-title">Self Defence</h3>

                                        <div class="icon-box-desc">
                                            It is a long estabas lished facts will be distracted by the content looking
                                            at
                                            its layout. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sashien-section training-section">
    <div class="sashien-container sashien-column-gap-default">
        <div class="sashien-column">
            <div class="sashien-widget-wrap sashien-element-populated">
                <div class="sashien-element">
                    <div class="sashien-widget-container">

                        <div class="section-title-wrapper ">
                            <div class="section-title-content shape-enable text-center">
                                <span class="section-subtitle primary-color" style="color: #FFED00;">Our Services</span>

                                <div class="section-title" style="color: #FFED00;">
                                    <h2>Training Programs</h2>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="sashien-element">
                    <div class="sashien-widget-container">
                        <div class="service-box-wrapper">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-service-box ">
                                        <div class="service-image">
                                            <div class="service-overlay transition"></div>
                                            <img decoding="async"
                                                src="../../assets/pic/master_pic.jpg"
                                                alt="Service" title="service-1">
                                        </div>

                                        <a href="/contact-us">
                                            <h3 class="service-title transition">Karate</h3>
                                        </a>

                                        <div class="service-desc">
                                            Karate is a traditional Japanese martial art focusing on striking techniques like punches, kicks, and blocks. It enhances discipline, strength, and self-defense skills. </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-service-box ">
                                        <div class="service-image">
                                            <div class="service-overlay transition"></div>
                                            <img decoding="async"
                                                src="../../assets/pic/master_pic.jpg"
                                                alt="Service" title="service-1">
                                        </div>

                                        <a href="/contact-us">
                                            <h3 class="service-title transition">Silambam</h3>
                                        </a>

                                        <div class="service-desc">
                                            Silambam is an ancient Indian martial art using bamboo sticks and swift footwork. It builds agility, coordination, and traditional weapon-based defense skills. </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-service-box ">
                                        <div class="service-image">
                                            <div class="service-overlay transition"></div>
                                            <img decoding="async"
                                                src="../../assets/pic/master_pic.jpg"
                                                alt="Service" title="service-1">
                                        </div>

                                        <a href="/contact-us">
                                            <h3 class="service-title transition">Tai chi</h3>
                                        </a>

                                        <div class="service-desc">
                                            Tai Chi is a Chinese martial art known for its slow, flowing movements and focus on breath control. It promotes balance, flexibility, and inner peace for your mind and body. </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-service-box ">
                                        <div class="service-image">
                                            <div class="service-overlay transition"></div>
                                            <img decoding="async"
                                                src="../../assets/pic/master_pic.jpg"
                                                alt="Service" title="service-1">
                                        </div>

                                        <a href="/contact-us">
                                            <h3 class="service-title transition">Wushu</h3>
                                        </a>

                                        <div class="service-desc">
                                            Wushu is a modern exhibition and full-contact sport derived from traditional Chinese martial arts. It combines fluid movements, acrobatics, and combat techniques. </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-service-box ">
                                        <div class="service-image">
                                            <div class="service-overlay transition"></div>
                                            <img decoding="async"
                                                src="../../assets/pic/master_pic.jpg"
                                                alt="Service" title="service-1">
                                        </div>

                                        <a href="/contact-us">
                                            <h3 class="service-title transition">Kobudo</h3>
                                        </a>

                                        <div class="service-desc">
                                            Kobudo is an Okinawan martial art specializing in traditional weapons like the bo, sai, and nunchaku. It emphasizes precision, discipline, and heritage-based training. </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-service-box ">
                                        <div class="service-image">
                                            <div class="service-overlay transition"></div>
                                            <img decoding="async"
                                                src="../../assets/pic/master_pic.jpg"
                                                alt="Service" title="service-1">
                                        </div>

                                        <a href="/contact-us">
                                            <h3 class="service-title transition">Self Defence</h3>
                                        </a>

                                        <div class="service-desc">
                                            Self-defense training equips individuals with techniques to protect themselves in threatening situations. It boosts awareness, confidence, and physical readiness. </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="sashien-section masters-section">
    <div class="sashien-container sashien-column-gap-default">
        <div class="sashien-column col-12">
            <div class="sashien-widget-wrap sashien-element-populated">
                <div class="sashien-element">
                    <div class="sashien-widget-container">

                        <div class="section-title-wrapper ">
                            <div class="section-title-content shape-enable text-center">
                                <span class="section-subtitle primary-color" style="color: #FFED00;">Meet Our
                                    Team</span>

                                <div class="section-title" style="color: #FFED00;">
                                    <h2>Expert Trainers</h2>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="sashien-element">
                    <div class="sashien-widget-container">
                        <div class="team-member-wrapper total-3-members">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-member">
                                        <a href="/about-us" class="member-img-and-info">
                                            <img decoding="async"
                                                src="../../assets/pic/master.jpg"
                                                alt="Expert Trainers" title="trainer-1">

                                            <div class="member-info-wrapper transition">
                                                <div class="member-info">
                                                    <h4 class="member-name">Richard Steele</h4>
                                                    <span class="member-designation transition">Senior
                                                        Trainer</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-member">
                                        <a href="/about-us" class="member-img-and-info">
                                            <img decoding="async"
                                                src="../../assets/pic/master.jpg"
                                                alt="Expert Trainers" title="trainer-2">

                                            <div class="member-info-wrapper transition">
                                                <div class="member-info">
                                                    <h4 class="member-name">Richard Steele</h4>
                                                    <span class="member-designation transition">Senior
                                                        Trainer</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-6 col-12">
                                    <div class="single-member">
                                        <a href="/about-us" class="member-img-and-info">
                                            <img decoding="async"
                                                src="../../assets/pic/master.jpg"
                                                alt="Expert Trainers" title="trainer-3">

                                            <div class="member-info-wrapper transition">
                                                <div class="member-info">
                                                    <h4 class="member-name">Richard Steele</h4>
                                                    <span class="member-designation transition">Senior
                                                        Trainer</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>